name: Release

on:
  push:
    tags:
      - 'release-*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install deps
      run: |
        sudo apt update
        sudo apt install -y build-essential clang flex bison g++ gawk gcc-multilib \
        gettext git libncurses-dev libssl-dev rsync unzip wget zlib1g-dev file python3

    - name: Download SDK
      run: |
        wget https://downloads.openwrt.org/releases/24.10.0/targets/x86/64/openwrt-sdk-24.10.0-x86-64_gcc-13.3.0_musl.Linux-x86_64.tar.xz
        tar xf openwrt-sdk-24.10.0-x86-64_gcc-13.3.0_musl.Linux-x86_64.tar.xz
        SDK_DIR=$(find . -maxdepth 1 -type d -name "openwrt-sdk-*")
        mv "$SDK_DIR" openwrt

    - name: Add package
      run: |
        mkdir -p openwrt/package/luci-app-argon-config
        cp -r htdocs po root Makefile openwrt/package/luci-app-argon-config/

    - name: Feeds
      working-directory: openwrt
      run: |
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Build
      working-directory: openwrt
      run: |
        make defconfig
        make package/luci-app-argon-config/compile V=s -j$(nproc)

    - name: Collect
      run: |
        mkdir -p bin
        cp openwrt/bin/packages/*/*/luci-app-argon-config*.ipk bin/

    - name: Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        tag_name=$(basename ${{ github.ref }})
        gh release create "$tag_name" bin/*.ipk --title "$tag_name"

    - name: Upload Log
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: buildlog
        path: openwrt/logs
